.css-wardmenu-widget
  .css-wm-mask
  .css-wm-no-mask
      include login
      #js-wm-loading.css-wm-loading.css-top-layer
        //-progress.js-member-progress
        span Loading... 
        span.js-member-counter 0
        span /
        span.js-member-total 0
      #js-facecards-container.css-facecards-container.css-top-layer(style="display: none;")
        .css-query-container
          h1.
            What is this person's name?
          #js-card-container.css-card-container
            .js-thumbnail.css-fc-poloroid
              img(align="absmiddle", src="images/nophoto_medium.gif")
              div.css-fc-hintname &nbsp;
            span.js-name(style="display: none;") First Last
            span.js-name-hints(style="display: none;") First Last

          form#js-search
            input#js-search-input(data-provide="typeahead", type="text", placeholder="Ex: John Doe")
            button(type='submit') Check
            //button(type='button').js-hint Get Hint

        //-#js-results-container.css-results-container
          ul#js-results.css-results
            li.js-result-item
              span.js-name First Last
        
      .css-menunator-container
      .css-appetizer-container
