.ccs-wardmenu-widget
  .css-facecards-container
    h1.
      What is this person's name?
    #js-card-container.css-card-container
      .js-thumbnail.css-fc-poloroid
        img(align="absmiddle", src="images/anonymous.png")
      span.js-name(style="visibility: hidden;") First Last
      span.js-name-hints(style="visibility: hidden;") First Last
      button.js-hint Get Hint

    form#js-search
      span.
        Search:
      input#js-search-input(type="text")

    #js-results-container
      ul#js-results.css-results
        li.js-result-item
          span.js-name First Last
    
  .css-menunator-container
  .css-appetizer-container
